<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{% static 'micro/images/College_Cloud.png' %}">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <title>💖 Cora</title>
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0">
      {% if user.is_authenticated %}
        <a href="/micro" style="margin-right: 20px;">Cora Home </a>
        <a href="/micro/user/{{user.id}}/" style="margin-right: 20px;">My Profile</a>
        <a href="{% url 'micro:logout' %}" style="margin-right: 20px;">Log Out</a>
          {% else %}
        <a href="{% url 'micro:login' %}" style="margin-right: 20px;">Log In</a>
      {% endif %}
    </h1>
  </nav>

  <div id="sidebar">
    {% block sidebar %}{% endblock sidebar %}
  </div>
  <div id="content" class="container" style="padding: 30px;">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>
