{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
  <h3><a href="/micro/university/{{ question.university_id }}/">🢠</a> <strong>{{ university.name }}</strong></h3>
  
  <br />
  <div class="card">
   <div class="card-header">
      <strong>Question from <a href="/micro/user/{{ question_user.id }}/">{{ question_user }}</a></strong>
    </div>
    <div class="card-block">
      <h4 class="card-title">{{ question.text }}</h4>
      {% if not_followed %}
        <form action="/micro/follow/{{ question.id }}/" method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-outline-primary btn-sm">Follow</button>
        </form>
      {% endif %}
    </div>
  </div>

 <br />

   <div class="card">
     <div class="card-header">
        <strong>Answer this question</strong>
      </div>
      <div class="card-block">
        <form action="/micro/post_answer/{{ question.id }}/" method="post">
          <p><table class="registerTable">
            {% csrf_token %}
            {{ answer_form.as_table }}
          </table></p>
          <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        </form>

        {% if message %}
          <p style="color: red;">{{ message }}</p>
        {% endif %}
      </div>
    </div>

  <br>

  {% if answer_list %}
    <h5>Answers:</h5>
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for answer in answer_list %}
        <li class="list-group-item"><a href="/micro/answer/{{ answer.id }}">{{ answer.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
    <div class="card">
      <div class="card-block">
      There are no answers for this question yet. Answer above!
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
