{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
	<h3>Add University:</h3>
	<form action="/micro/post_university/" method="post">
	<table class="registerTable">
	  {% csrf_token %}
	  {{ form.as_table }}
	</table>
	  <input type="submit" value="Submit" />
	</form>
	<br><br><br>

  <h3>All Universities</h3>
  {% if university_list %}
    <div class="card">
    	<ul class="list-group list-group-flush">
    		{% for university in university_list %}
    		<li class="list-group-item"><a href="/micro/university/{{university.id}}">{{ university.name }}</a></li>
    		{% endfor %}
    	</ul>
    </div>
  </div>
  {% else %}
    <div class="card">
      No universities yet. Add one above.
    </div>
  {% endif %}
{% endblock %}