{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
  <h3><strong>All Universities</strong></h3>
  {% if university_list %}
    <div class="card">
    	<ul class="list-group list-group-flush">
    		{% for university in university_list %}
    		<li class="list-group-item"><a href="/micro/university/{{university.id}}">{{ university.name }}</a></li>
    		{% endfor %}
    	</ul>
    </div>
  {% else %}
    <div class="card">
     <div class="card-block">
        No universities yet. Add one above.
      </div>
    </div>
  {% endif %}

  <br/>
  <div class="card"> 
     <div class="card-block">
      <h5><strong>Don't see your university? Add it here!</strong></h5>
      <hr/>
      <form action="/micro/post_university/" method="post">
        <table class="registerTable">
          {% csrf_token %}
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}