{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
  <h3><strong>{{ university.name }}</strong></h3>
	
  <hr />
  <h4>Ask a question:</h4>
	<form action="/micro/post_question/{{ university.id }}/" method="post">
		<table class="registerTable">
		  {% csrf_token %}
		  {{ question_form.as_table }}
		</table>
	  <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
	</form>
  {% if message %}
    <p style="color: red;">{{ message }}</p>
  {% endif %}
  <br><br>
	
	{% if question_list %}
    <h4>Questions:</h4>
	  <div class="card">
	    <ul class="list-group list-group-flush">
	    	{% for question in question_list %}
	      <li class="list-group-item"><a href="/micro/question/{{ question.id }}">{{ question.text }}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	{% else %}
	  <div class="card">
	  	<div class="card-block">
	    	There are no questions yet for {{ university.name }}. Ask one above!
	  	</div>
	  </div>
	{% endif %}
</div>
{% endblock %}