{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
  <h3><strong>Profile for {{ user }}</strong></h3>
  <hr/>
  <h4>First Name: {{ profile.first_name }}</h4>
  <h4>Last Name: {{ profile.last_name }}</h4>
  <h4>Email: {{ profile.email }}</h4>
  <h4>University: {{ university.name }}</h4>
  <br><br>
  {% if profile_form %}
    <h5>Edit your profile:</h5>
    <form action="/micro/user/{{ user.id }}/" method="post">
    <table class="registerTable">
      {% csrf_token %}
      {{ profile_form.as_table }}
    </table>
      <input type="submit" value="Submit" />
    </form>
    <br>
    <p style="font-size: 14px;">If you don't see your university listed, add it on the home page</p>
  {% endif %}
</div>

{% endblock %}