{% extends "micro/base.html" %}
{% block content %}

<div class="container" style="padding: 30px;">
  <h3><strong>Profile for {{ user }}</strong></h3>
  <hr/>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label"><strong>First Name</strong></label>
    <div class="col-10">
      <input disabled class="form-control" type="text" value="{{ profile.first_name }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label"><strong>Last Name</strong></label>
    <div class="col-10">
      <input disabled class="form-control" type="text" value="{{ profile.last_name }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label"><strong>Email</strong></label>
    <div class="col-10">
      <input disabled class="form-control" type="text" value={{ profile.email }}>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label"><strong>University</strong></label>
    <div class="col-10">
      <input disabled class="form-control" type="text" value="{{ university.name }}">
    </div>
  </div>

  {% if questions_asked %}
  <hr />
  <h5><strong>Questions asked</strong></h5>
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for question in questions_asked %}
        <li class="list-group-item"><a href="/micro/question/{{ question.id }}">{{ question.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if profile_form %}
    <hr />
    <h5><strong>Edit your profile:</strong></h5>
    <form action="/micro/user/{{ user.id }}/" method="post">
    <table class="registerTable">
      {% csrf_token %}
      {{ profile_form.as_table }}
    </table>
      <input type="submit" value="Submit" />
    </form>
    <br>
    <p style="font-size: 14px;">If you don't see your university listed, add it on the home page</p>

  {% endif %}
</div>

{% endblock %}